.header {
    background-color: $brand-color;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 100;
    &__inner {
        display: flex;
        justify-content: space-between;
        align-items: center;
        // height: 68px;
    }
}
.user-nav, .user-nav__right {
    display: flex;
}
.burger-menu {
    position: relative;
}
.logo {
    margin-right: 40px;
}
.burger-button, .search__button, .user__nav-link {
    display: block;
    position: relative;
    width: 46px;
    height: 46px;
    background-color: rgba($color: #fff, $alpha: 0.2);
    border-radius: 50%;
    margin-left: 12px;
    cursor: pointer;
    svg {
        transition: all .5s;
        @include center-item;
    }
}
.basket-number{
    position: absolute;
    top: -2px;
    right: -2px;
    background-color: rgba($color: #fff, $alpha: 0.5);
    color: #000;
    @include f700;
    font-size: 14px;
    width: 16px;
    height: 16px;
    text-align: center;
    border-radius: 50%;
}
.burger-dropdown {
    position: absolute;
    top: 53px;
    left: -50px;
    background-color: #fff;
    width: 167px;
    transition: all .3s ease-in .1s;
    transform: translateY(-100%);
    opacity: 0;
}
.burger-dropdown-item {
    display: block;
    text-align: center;
    margin: 20px auto;
    max-width: 90px;
    width: 100%;
}
.burger-dropdown-link {
    font-size: 12px;
    color: #000;
    @include f600;
    line-height: 15px;
    transition: all .5s;
}
.burger-button {
    &:focus {
        outline: none;
    }
}
.menu-open {
    .burger-button {
        background-color: rgba($color: #fff, $alpha: 1);
        outline: none;
    }
    svg {
        path {
            stroke: #000;
        }
    }
    .burger-dropdown {
        transform: translateY(0%);
        opacity: 1;
        transition: all .3s ease .1s;
    }
}
.dropdown-menu-item {
    position: relative;
    transition: all 0.5s;
    padding: 20px 0px;
    &:hover {
        background-color: #fff;
        .dropdown-menu-link {
            color: #000;
        }
        .dropdown-into-menu {
            opacity: 1;
            visibility: visible; 
        }
        .dropdown-into-menu-link {
            color: #000;
        }
    }
}
.dropdown-menu-link {
    @include f700;
    font-size: 12px;
    font-family: Montserrat;
    line-height: 15px;
    color: #fff;
    padding: 26px;
    text-transform: uppercase;
    transition: all .5s;
}
.dropdown-into-menu {
    position: absolute;
    top: 58px;
    left: 0px;
    background-color: #fff;
    display: block;
    width: 100%;
    transition: all .5s;
    opacity: 0;
    visibility: hidden;
}
.dropdown-into-menu-item {
    display: block;
    text-align: center;
    background-color: #fff;
    position: relative;
    cursor: pointer;
    transition: all .5s;
    padding: 12px 0px;
    &:hover {
        background-color: #fff;
        &::after {
            right: -10px;
            width: 28px;
            background-color: #000;
        }
        .right-dropdown {
            opacity: 1;
            visibility: visible;
        }
    }
}
.dropdown-into-menu-link {
    font-size: 12px;
    color: #fff;
    @include f700;
    line-height: 15px;
    transition: all .5s;
}
.right-dropdown {
    position: absolute;
    top: -51px;
    right: -100%;
    background-color: #fff;
    display: block;
    width: 100%;
    transition: all .5s;
    opacity: 0;
    visibility: hidden;
}
.right-dropdown-item {
    display: block;
    padding: 15px 26px;
    text-align: center;
    background-color: #fff;
    position: relative;
    cursor: pointer;
    transition: all .5s; 
}
.right-dropdown-link {
    font-size: 12px;
    color: #000;
    @include f700;
    line-height: 15px;
    transition: all .5s;
}
.form__search-inner {
    display: flex;
    align-items: center;
    transition: all .5s;
    &:hover {
        .search__button {
            background-color: rgba($color: #000, $alpha: 0.2);
            svg {
                path {
                    stroke: black; 
                }
            }
        }
        .search__input {
            width: 180px;
            border-bottom: 1px solid #000;
        }
    }
}
.search__button {
    transition: all .5s;
    margin-right: 16px;
    &:focus + .search__input {
            width: 180px;
            border-bottom: 1px solid #000;
        }
    }
.search__input {
    border: none;
    background-color: transparent;
    font-size: 14px;
    line-height: 18px;
    padding: 2px;
    transition: all .5s;
    border-bottom: 1px solid transparent;
    width: 0;
}
.search__input:focus {
    outline: none;
    border: none;
    background-color: transparent;
    color: rgba($color: #000, $alpha: 0.5);
    border-bottom: 1px solid #000;
    padding: 2px;
    width: 180px;
    border-bottom: 1px solid #000;
}