.hero__block {
    margin-bottom: 50px;
    background-color: $brand-color;
}
.slider-container {
    max-width: 1400px;
    width: 100%;
    overflow: hidden;
    margin: 0 auto;
}
.swiper-slide {
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center center;
    min-height: 100vh;
    width: 100%;
}
