.hero__block {
    margin-bottom: 50px;
    background-color: $brand-color;
}
.hero-slider__container {
    width: 100%;
    overflow: hidden;
    position: relative;
    .swiper-button-disabled {
        background-color: transparent;
        border: 1px solid rgba(255, 255, 255, 0.3);
    }
    .swiper-pagination-fraction {
        position: absolute;
        top: calc(100vh - 106px);
        left: 54px;
        z-index: 100;
        font-weight: 700;
        color: #fff; 
    }
}
.swiper-slide {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.hero-slider__images {
    max-width: 100%;
    object-fit: cover;
}
.hero-slider__button-prev, .hero-slider__button-next {
    position: absolute;
    width: 46px;
    height: 46px;
    background-color: rgba($color: #fff, $alpha: 0.2);
    border:  0px solid #FFFFFF;
    border-radius: 50%;
    top: calc(100vh - 120px);
    z-index: 100;
    cursor: pointer;
    svg {
        @include center-item;
    }
}
.hero-slider__button-prev {
    left: 168px;
}
.hero-slider__button-next {
    left: 228px;
}
.hero-slider__btn-more {
    position: absolute;
    left: 54px;
    top: 50%;
    width: 168px;
    background-color: #fff;
    color: #00A3FF;
    text-align: center;
    padding: 15px 0px;
    text-transform: uppercase;
    font-size: 12px;
    line-height: 18px;
    font-weight: 700;
}