@media (max-width: 1340px) {
    .reviews-content-slider__button-next, .reviews-content-slider__button-prev {
        display: none;
    }
}
@media (max-width: 1324px) {
    .popular__products-inner {
        flex-wrap: wrap;
    }
    .product-item__wrapper {
        margin-bottom: 20px;
    }
    .products-item__inner {
        margin-bottom: 0px;
    }
    .product-item__img {
        margin: 0 auto;
    }
    .products-item__box {
        margin: 0 auto;
    }
    .product-item__wrapper--large-item {
        flex: 1 1 100%;
    }
    .product-item__wrapper--gorizontal-item {
        .product-item__more-link {
            left: 80%;
        }
    } 
    .product-item--gorizontal-card__inner {
        max-width: 1000px;
    } 
    .more-item__btn {
        font-size: 18px;
        left: 50%;
        transform: translateX(-50%);
        max-width: 240px;
    }
}



@media (max-width: 1250px ) {
    .open-search {
        .search__input {
            width: 120px;
        }
    }
    .hero-slider__btn-more {
        left: 52px;
    }
    .star__review {
        padding: 48px 95px 48px 85px;
        max-width: 400px;
        bottom: 49px;
    }
    .reviews-content-slider__item {
        min-height: 400px;
    }
    .review-content__img-star {
        max-height: 400px;
    }
    .review-logo {
        top: 48px;
        right: 48px;
    }
    .review-content__more-btn {
        max-width: 100px;
        right: -156px;
    }
    .reviews-stars__title {
        font-size: 32px;
        max-width: 140px;
        line-height: 46px;
    }
    .reviews-content-slider  {
        .swiper-pagination-fraction {
            top: 120px;

        }
    }
    .footer__top-inner {
        flex-wrap: wrap;
        justify-content: center;
    }
}     

@media (max-width: 1197px ) {

    .header__inner {
        padding: 5px 0px;
        &.menu-open {
            .header__menu {
                left: 0;
            }
        }
    }
    .burger-menu {
        display: block;
    }
    .header__menu {
        position: absolute;
		width: 100%;
		height: calc(100vh - 58px);
		background: #fff;
		top: 58px;
        left: -100%;
        padding: 40px 0px;
        transition: cubic-bezier(.61,.31,.76,.89) .4s;
    }
    .dropdown-menu {
        display: block;
		text-align: center;
    }
    .dropdown-menu-item {
        display: block;
        width: 100%;
        padding: 6px 0px;
    }
    .dropdown-menu-link {
        display: block;
        color: #000;
        font-size: 14px;
    }
    .dropdown-into-menu {
        position: relative;
        top: 0;
        display: none;
    }
    .dropdown-into-menu-item {
        width: 100%;
    }
    .drop-list {
        &.active {
            .dropdown-into-menu {
                background-color: rgb(211, 211, 211);
            }
        }
    }
    .product-item__wrapper {
        &:hover {
            &:hover {
                .product-item__img {
                    transform: scale(1, 1);
                }
            }
        }
    }
    .popular__products-inner, .hero__block, .collection, .more-items, .reviews-stars, .new-items  {
        margin-bottom: 20px;
    }

    .vertical-line {
        &::after {
            display: none;
        }
    }


    .hero-slider__btn-more {
        top: 80%;
        left: 50%;
        transform: translateX(-50%);
    }
    .hero-slider__pagination {
        display: none;
    }
    .hero-slider__button-prev, .hero-slider__button-next {
        display: none;
    }
    .collection {
        margin-bottom: 50px
    }
    .collection-slider__item-description {
        padding: 40px;
    }
    .collection-slider__button-prev, .collection-slider__button-next {
        display: none;
    }
    .collection-slider__item-title {
        font-size: 18px;
    }
    .item-property {
        font-size: 14px;
        padding-left: 60px;
    }
    .more-item__link {
        max-width: 340px;
        margin-bottom: 10px;
        & + & {
            margin-left: 20px;
        }
    }
    .star__review {
        padding: 38px 95px 38px 85px;
        max-width: 260px;
        left: 100px;
    }
    .review-logo {
        top: 28px;
        right: 28px;
    } 
    .reviews-content-slider__pagination {
        display: none;
    }
    .more-item__link {
        &:hover {
            transform: scale(1);
        }
    }
    .new-items__inner {
        gap: 20px;
    }
    .new-item__title {
        font-size: 16px;
        line-height: 24px;
    }
    .new-item__more-link {
        font-size: 20px;
        line-height: 24px;
    }
    .footer {
        padding-top: 24px;
        padding-bottom: 18px;
    }
    .footer__form-title {
        text-align: center;
        max-width: 100%;
    }

    .footer__form-inner {
        text-align: center;
    }
    .footer__form-input {
        text-align: center;
        padding: 15px;
    }
    .footer__form-btn {
        padding: 10px 45px;
        text-align: center;
        border: 1px solid #fff;
        top: 100px;
        left: 50%;
        transform: translateX(-50%);
        max-width: 150px;
        &:after {
            display: none;
        }
    }
    .footer__cols-inner {
        margin-bottom: 24px;
    }
    // global styles

    .title {
        font-size: 24px;
        padding-bottom: 20px;
    }
    
}

@media (max-width: 880px ) {
    .product-item__wrapper--gorizontal-item {
        margin-bottom: 10px;
    }
    .hero-slider__btn-more {
        top: 76%;
    }
    .collection-slider__item {
        min-height: 400px;
    }
    .collection-slider__container {

        .swiper-pagination-fraction {
            bottom: 20px;
            left: 44px;
        }
    }
    .collection-slider__item-more-link {
        bottom: 20px;
        right: 70px;
    }
    .collection-slider__share-btn {
        top: 8px;
        right: 14px;
    }
    .collection-slider__share-items {
        top: 60px;
        right: 20px;
    }  
    .video__button {
        width: 60px;
        height: 60px;
        &::before {
            width: 18px;
            height: 18px;
            left: 34px;
        }
    }
    .more-items__inner {
        flex-wrap: wrap;
        justify-content: center;
    }
    .more-item__link {
        max-width: 300px;
    }
    .review-content__img-star {
        max-height: 360px;
    }
    .reviews-content-slider__item {
        min-height: 300px;
    }
    .star__review {
        bottom: 4px;
        left: 50px;
        padding: 28px 85px 28px 67px;
    }
    .review-content__img-innner {
        min-height: 300px;
    }
    .review-content__more-btn {
        background-color: transparent;
        right: -150px;
        padding: 18px;
        svg {
            top: 50%;
            transform: translateY(-50%);
            right: 40px;
        }
    }
    .new-items__inner {
        flex-wrap: wrap;
        gap: 0;
        row-gap: 26px;
        justify-content: center;
    }
    .new-item {
        width: 100%;
    }
}

@media (max-width: 740px) {
    .collection-slider__item {
        flex-wrap: wrap;
    }
    .video {
        min-height: 400px;
    }
    .collection-slider__item-description {
        text-align: center;
    }
    .collection-slider__item-title {
        max-width: 340px;
        margin: 0 auto;
    }
    .review-content__img-star {
        max-height: 300px;
    }
    .reviews-stars__title {
        font-size: 24px;
        line-height: 28px;
        top: -4px;
    }
    .phrase-star {
        font-size: 12px;
        line-height: 16px;
    }
    .star__review {
        left: 50px;
        padding: 14px 45px 14px 37px;
        left: 20px;
    }
    .name-star {
        font-size: 14px;
    }   
    .footer__form-title {
        font-size: 16px;
        line-height: 20px;
    } 
}

@media (max-width: 660px) {
    .hero-block {
        margin-bottom: 20px;
    }
    .product-item__wrapper--large-item {
        padding: 20px;
    }
    .product-item--gorizontal-card__inner {
        max-width: 600px;
    }
    .product-item__wrapper--gorizontal-item {
        padding: 25px;
        .product-item__price {
            bottom: 10px;
        }
        .product-item__more-link {
            left: 30%;
            bottom: 10px;
        }
    }
    .product-item--gorizontal-card__inner {
        flex-wrap: wrap;
    }
    .product-item--new, .product-item--sale, .product-item--hot{
        &::before {
            height: 20px;
            left: 0;
            top: 0px;
            transform: rotate(0deg);
        }
    }
    .product-item--big-card {
        .product-item__img {
            img {
                width: 100%;
            }         
        }
    }
    .products-item__box {
        flex: 1 1 100%;
    }
    .products-item__inner  {
        flex-wrap: wrap;
        .product-item__wrapper + .product-item__wrapper {
            margin-left: 0px;
        }
        .product-item__wrapper {
            padding: 25px 30px;
            flex: 0 0 100%;
            & + .product-item__wrapper {
                margin-left: 0px;
            }
        }
    }
    .video {
        min-height: 300px;
    }
    .more-item__btn {
        max-width: 100px;
        font-size: 14px;
        line-height: 16px;
    }
    .more-item__link {
        max-width: 240px;
        & + & {
            margin-left: 10px;
        }
    }
    .review-content__img-star {
        min-height: 100px;
        width: 100%;
    }
    .star__review {
        padding: 10px 25px 10px 16px;
        left: 50%;
        transform: translateX(-50%);
    }
    .reviews-content-slider {
        width: 100%;
    }
    .reviews-start__title-center {
        position: relative;
        font-size: 24px;
        padding-bottom: 20px;
        display: block;
        max-width: 100%;
        text-align: center;
        font-weight: 800;
    }
    .new-item__title {
        font-size: 14px;
        line-height: 22px;
        max-width: 200px;
        padding-top: 10px;
    }
    .footer__col-title {
        display: none;
    }
    .footer__cols-inner {
        flex-wrap: wrap;
        gap: 20px;
    }
    .footer__social  {
        vertical-align: middle;
    }
    .footer__social {
        max-width: 200px;
    }
    .footer__bottom {
        align-items: center;
        gap: 14px;
        flex-direction: column;
    }
    .logo__footer {
        padding-right: 0px;
    }
}

@media (max-width: 578px ) {
    .header__inner {
        padding: 0px;
        &.menu-open {
            .burger-button {
                background-color: transparent;
                svg {
                    path {
                        stroke: #fff;
                    }
                }
            }
        }
    }

    .header__menu {
        height: calc(100vh - 45px);
        top: 45px;
    }    
    .burger-button, .search__button, .user__nav-link {
        width: 46px;
        height: 46px;
        background-color: transparent;
        border-radius: unset; 
        &:hover {
            background-color: transparent;
            svg {
                path {
                    stroke: #fff;
                }
            }
        }
    }
    .burger-menu {
        position: absolute;
        top: 0;
        left: 50%;
        transform: translateX(-50%);
    }
    .basket-number {
        top: 8px;
        right: 0px;
    }
    .burger-button {
        margin-left: 0px;
    }
    .user-nav {
        align-items: center;
    }
    .form__search, .user-link, .favorite-link {
        display: none;
    }

    .hero-slider__btn-more {
        top: 82%;
    }
    .product-item__wrapper--gorizontal-item {
        .product-item__more-link {
            left: 70%;
        }
    }
    .product-item__wrapper {
        .product-item__favorite {
            right: 20px;
        }
    }
    .title {
        font-size: 18px;
        padding-bottom: 10px;
    }
    .collection-slider__item-title {
        font-size: 16px;
        padding-bottom: 28px;
    }
    .collection-slider__item-more-link {
        right: 40px;
    }
    .collection-slider__item-description {
        padding: 20px;
    }
    .item-property {
        padding-left: 60px;
        &::before {
            bottom: -8px;
        }
        svg {
            bottom: 2px;
        }
    }
    .collection-slider__item-description {
        text-align: left;
    } 
    .collection-slider__share-items {
        padding: 10px;
    }
    .collection-slider__share-link {
        font-size: 12px;
        padding-left: 0px;
        svg {
            display: none;
        }
    }
    .collection-slider__container {
        .swiper-pagination-fractio {
            left: 20px;
        }
    }
    .video {
        min-height: 240px;
    }
    .product-item__more-link, .collection-slider__item-more-link, .new-item__more-link {
        font-size: 12px;
    }
    .more-items {
        .container {
            padding: 0 5px;
        }
    }
    .more-item__link {
        max-width: 320px;
        & + & {
            margin-left: 0px;
        }
    }
    .more-item__btn {
        max-width: 200px;
        font-size: 16px;
        line-height: 24px;
    }
    .reviews-start__title-center {
        font-size: 18px;
        padding-bottom: 10px;
    }
    .review-content__more-btn {
        bottom: 100%;
        right: -36px;
    }
    .star__review {
        bottom: 0;
    }
    .footer__social-item + .footer__social-item {
        padding-top: 0px;
    }
    .footer__form-btn {
        top: 110px;
    }
    .footer__cols-inner {
        gap: 20px;
    } 
    .footer__social-item {
        display: inline-block;
    }
    .footer__social {
        margin: 0 auto;
    }
}
 

