@mixin  center-item {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
@mixin  f700 {
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
}
@mixin  f500 {
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
}
@mixin  f600 {
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
}