@mixin  center-item {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
@mixin big__card-title {
    font-weight: 700;
    font-size: 20px;
    line-height: 32px;
}
@mixin big__card-text {
    font-weight: 500;
    font-size: 16px;
    line-height: 18px;
}
@mixin card-price {
    font-weight: 700;
    font-size: 18px;
    line-height: 22px;
}
@mixin big__card-price {
    @include card-price;
    font-weight: 800;
}
@mixin standart__card-price {
    font-weight: 500;
    font-size: 12px;
}
@mixin standart__card-category {
    font-weight: 500;
    font-size: 12px;
    color: $category-color;
}